
.page-header {
    display: flex;
    width: 10%;
    padding: 20px;
}

.page-header__item  {
    flex: 0 1 200px;
    max-height: 150px;
}

.container-title {
    padding-left: 20px;
}

.instructions {
    padding-left: 20px;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background-color: rgb(217, 233, 232); 
}

.list-group {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: darkkhaki;
    margin: 5%;
    margin-right: 5%;
}

.list-group-item {
    background-color: rgb(203, 232, 230);
}
.btn {
    background-color: rgb(192, 210, 212);
    color: black;
    display: center;
}

/*.model-dialog{
    display: none; 
}*/


.modal-content {
    background-color: rgb(202, 172, 231);
    
}

.pokemon-image {
    display: inline-block;
    height: 250px;
    width: 250px;
} 

