:root {
    --primary-color: #b2bc6f;
    --secondary-color: #5495e0;
    --dark-grey: #2b2b2b;
    --b1-background-color: #e96513;
    --b2-background-color: #54b1e0;
    --font-weight: 400;
    --font-size: 16px;
    --line-height: 1.6;
    --font-family: 'lato', sans-serif;
}

.page-header {
    display: flex;
    width: 10%;
    padding: 20px;
}
.page-header__item  {
    flex: 0 1 200px;
    max-height: 150px;
}

a {
    color: var(--primary-color);
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background-color: rgb(223, 238, 213);
}

.button-class {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
  }